<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">

<head>
    <title th:text="#{titles.orders}"></title>
</head>

<body>
<section layout:fragment="content" class="m-5">
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th th:text="#{labels.name}"></th>
            <th th:text="#{labels.description}"></th>
            <th th:text="#{labels.duration_in_days}"></th>
            <th th:text="#{labels.published}"></th>
            <th th:text="#{labels.price}"></th>
            <th th:text="#{labels.status}"></th>
            <th th:text="#{labels.actions}"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="cycle : ${cycles}">
            <th th:text="${cycle.id}"></th>
            <td th:text="${cycle.name}"></td>
            <td th:text="${cycle.description}"></td>
            <td th:text="${cycle.durationInDays}"></td>
            <td th:text="${cycle.published} ? #{yes} : #{no}"></td>
            <td th:text="${cycle.price}"></td>
            <td>
                <span th:switch="${cycle.status.name}">
                    <span th:case="ACTIVE" class="badge rounded-pill text-bg-success" th:text="#{${cycle.status}}"></span>
                    <span th:case="PENDING" class="badge rounded-pill text-bg-warning" th:text="#{${cycle.status}}"></span>
                    <span th:case="CANCELED" class="badge rounded-pill danger" th:text="#{${cycle.status}}"></span>
                </span>
            </td>
            <td>
                <form th:action="@{/order/pay/{cycle_id}(cycle_id=${cycle.id})}" method="post"
                      style="display:inline; margin-left: 5px;">
                    <button class="btn btn-primary btn-sm" type="submit" th:text="#{buttons.pay}">Pay</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>

</html>
