<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">

<head>
    <title th:text="#{titles.active_cycles}"></title>
</head>

<body>
<section layout:fragment="content" class="m-5">
    <form class="row g-3 mb-3" method="get" th:action="@{/admin/cycle/active-list}">
        <div class="col-auto">
            <select class="form-select form-select-sm" id="sizeSelect" name="size" onchange="this.form.submit()">
                <option th:value="5" th:selected="${cycles.pageSize == 5}">5</option>
                <option th:value="10" th:selected="${cycles.pageSize == 10}">10</option>
                <option th:value="20" th:selected="${cycles.pageSize == 20}">20</option>
                <option th:value="50" th:selected="${cycles.pageSize == 50}">50</option>
            </select>
        </div>
        <input type="hidden" name="page" th:value="${cycles.currentPage}"/>
    </form>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th th:text="#{labels.name}"></th>
            <th th:text="#{labels.client_id}"></th>
            <th th:text="#{labels.client_email}"></th>
            <th th:text="#{labels.duration_in_days}"></th>
            <th th:text="#{labels.price}"></th>
            <th th:text="#{labels.trainer_id}"></th>
            <th th:text="#{labels.trainer_email}"></th>
            <th th:text="#{labels.status}"></th>
            <th th:text="#{labels.actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cycle : ${cycles.items}">
            <th th:text="${cycle.id}"></th>
            <td th:text="${cycle.name}"></td>
            <td th:text="${cycle.clientId}"></td>
            <td th:text="${cycle.clientEmail}"></td>
            <td th:text="${cycle.durationInDays}"></td>
            <td th:text="${cycle.price}"></td>
            <td th:text="${cycle.trainerId}"></td>
            <td th:text="${cycle.trainerEmail}"></td>
            <td th:text="${cycle.status.name}"></td>
            <td>
                <form th:action="@{/admin/cycle/assign-trainer/{enrollment_id}(enrollment_id=${cycle.enrollmentId})}"
                      method="post" class="d-flex align-items-center">
                    <select class="form-select form-select-sm me-2" name="trainerId" required>
                        <option value="" th:text="#{labels.select_trainer}">Select trainer</option>
                        <option th:each="trainer : ${trainerList}"
                                th:value="${trainer.id}"
                                th:text="${trainer.email}"
                                th:selected="${trainer.email == cycle.trainerEmail}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-success btn-sm" th:text="#{buttons.save}">Assign</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">
            <!-- Previous button -->
            <li class="page-item" th:classappend="${cycles.hasPreviousPage() ? '' : 'disabled'}">
                <a class="page-link"
                   th:href="@{/admin/cycle/active-list(page=${cycles.previousPage}, size=${cycles.pageSize})}"
                   tabindex="-1" th:text="#{buttons.previous}">Previous</a>
            </li>

            <!-- Page numbers -->
            <li class="page-item" th:each="i : ${#numbers.sequence(1, cycles.totalPages)}"
                th:classappend="${i == cycles.currentPage ? 'active' : ''}">
                <a class="page-link" th:href="@{/admin/cycle/active-list(page=${i}, size=${cycles.pageSize})}"
                   th:text="${i}">1</a>
            </li>

            <!-- Next button -->
            <li class="page-item" th:classappend="${cycles.hasNextPage() ? '' : 'disabled'}">
                <a class="page-link"
                   th:href="@{/admin/cycle/active-list(page=${cycles.nextPage}, size=${cycles.pageSize})}"
                   th:text="#{buttons.next}">Next</a>
            </li>
        </ul>
    </nav>

</section>
</body>

</html>
