<nav class="navbar navbar-expand-lg bg-body-tertiary shadow" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Gym</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/accounts}" th:text="#{navbar.accounts}">Accounts</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/cycles}" th:text="#{navbar.cycles}">Cycles</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a th:href="@{/orders}" sec:authorize="hasRole('CLIENT')">
                        <button type="button" class="btn btn-primary position-relative">
                            <span th:text="#{navbar.orders}">Orders</span>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" th:text="${pendingEnrollmentsCount}">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
                        </button>
                    </a>
                <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                    <a class="nav-link" th:href="@{/wallet/top-up}" th:text="#{navbar.top_up_balance}"></a>

                <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                    <a class="nav-link"><span
                            th:text="#{navbar.balance(${walletBalance})}"></span></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}" th:text="#{navbar.login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register}" th:text="#{navbar.register}">registration</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" th:text="${#locale.language.toUpperCase()}">EN</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/set-locale?lang=en}">English</a></li>
                        <li><a class="dropdown-item" th:href="@{/set-locale?lang=ru}">Русский</a></li>
                    </ul>
                </li>
                <form class="d-flex" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                    <button class="btn btn-outline-danger" type="submit" th:text="#{buttons.logout}">Logout</button>
                </form>

            </ul>

        </div>
    </div>
</nav>
