<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-security" layout:decorate="~{shared/layout}">

<head>
    <title th:text="#{titles.top_up_wallet}"></title>
</head>

<body>
<section layout:fragment="content">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="p-4 rounded shadow-lg bg-white" style="width: 100%; max-width: 500px;">
            <h2 th:text="#{titles.top_up_wallet}" class="mb-4 text-center">Top Up Wallet</h2>
            <form th:action="@{/wallet/top-up}" method="post">
                <div class="mb-3">
                    <label for="amount" class="form-label" th:text="#{labels.wallet.amount}">Amount</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="amount" name="amount" min="0.01" step="0.01"
                               required>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" th:text="#{buttons.top_up}">Top Up</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>

</html>
